@import "../../../../component-lib/variables.scss";

.Head {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

form {
  .ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
