.Cart {
  display: flex;
  flex-direction: column;

  flex: 2;

  background-color: getColor(white, light);
  min-height: 90vh;

  padding: 2rem 1rem 0 4rem;

  h2 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid getColor(primary-invert, tint-7);
  }
}