@import "../../../component-lib/variables.scss";

.ActivityPage {
  display: flex;
  margin: 3rem auto;
  flex-direction: row;

  h2 {
    margin-bottom: 1rem;
  }

  .ActivitiesSection {
    flex: 9;
    padding-right: 3rem;

    .ActivityList {
      display: flex;
      flex-direction: column;

      .Activity {
        display: flex;
        flex-direction: column;

        .ActivityAction {
          font-size: 2rem;
          list-style-type: none;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px dotted getColor(tertiary, tint-7);
          padding-bottom: 1rem;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          .ActivityText {
            flex: 4;
          }
        }
      }
    }
  }

  .ActivityDetailsSection {
    flex: 3;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;

    border-left: 1px solid getColor(secondary, tint-7);

    h2 {
      margin-bottom: 1rem;

      .Icon {
        margin-right: 1rem;
      }
    }

    .Funds {
      margin-bottom: 5rem;
    }


    .FundChange {
      margin-top: 1rem;
      display: flex;
      flex-grow: 1;
    }

    .TotalPrice {
      margin-bottom: 3rem;

      .Description {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }

      .Money {
        margin-bottom: 2rem;
        font-weight: bold;
      }
    }
  }
}

.Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}