@import '../../component-lib/variables.scss';

.Profile {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  cursor: pointer;
  position: relative;

  @media (max-width: 43rem) {
    display: none;
  }

  .Email {
    margin-right: 1rem;
  }

  .CurrentUser {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    width: 100%;
    @include unselectable;

    // &.IsShowList {
    //   border: 1px solid getColor(primary, shade-9);
    //   background-color: getColor(primary, tint-8);
    // }
  }
}

.LinkList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 3rem;
  width: 100%;

  .LinkListItem {
    border: 1px solid getColor(secondary, shade-9);
    border-top: none;

    &:first-child {
      border-top: 1px solid getColor(secondary, shade-9);
    }

    .Icon {
      padding-right: 1rem;
    }

    background-color: getColor(white, light);
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    width: 100%;

    a {
      width: 100%;
      padding: 2rem 0.5rem;
      color: getColor(secondary, shade-7);
      @include unselectable;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}