@import "../../../../component-lib/variables.scss";

.ActivityStreak {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 43rem) {
    flex-direction: column-reverse;
  }

  .StreakMsg {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    @media (max-width: 43rem) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .Heading {
      font-size: 2rem;
    }
  }

  .StreakList {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    @media (max-width: 43rem) {
      flex-wrap: wrap;
      justify-content: flex-end;
    }


    .StreakListItem {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      align-items: center;

      @media (max-width: 43rem) {
        margin-top: 2rem;
        flex-direction: column-reverse;
      }
    }

    .DayCount {
      margin-top: 1rem;
      padding: 1rem;

      @media (max-width: 43rem) {
        margin-bottom: 1rem;
      }

      &.Positive {
        background-color: getColor(primary);
      }

      &.Negative {
        background-color: getColor(red);
      }
    }
  }
}