@import "../../../../component-lib/variables.scss";

.ActivityStreak {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .StreakMsg {
    display: flex;
    align-items: center;

    .Icon {
      margin-right: 1rem;

      .Left {
        display: inline-block;
      }

      .Right {
        display: none;
      }

    }
  }

  .Heading {
    display: none;
  }

  .DayCount {
    width: 0;
    height: inherit;

    .Count {
      display: none;
    }

    &.Positive {
      background-color: getColor(primary);
    }

    &.Negative {
      background-color: getColor(red);
    }

    &.Today {
      display: block;
      text-align: center;
      padding: .5rem;
      width: inherit;
      height: 100%;

      .Count {
        display: inline;
      }
    }
  }

  &:hover {
    .Heading {
      display: inline;
      font-size: 2rem;
      margin-right: 2rem;
    }

    .DayCount {
      width: inherit;
      height: inherit;
      margin-left: 2rem;
      padding: .5rem;
      display: block;
      transition: all 1s;
    }

    .Count {
      display: inline;
    }

    .Icon {
      .Left {
        display: none;
      }

      .Right {
        display: inline-block;
      }

    }
  }
}