@import "../../../../component-lib/variables.scss";

.ActivityStreak {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .StreakMsg {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .Heading {
      font-size: 2rem;
    }
  }

  .StreakList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;

    .DayCount {
      margin-left: 2rem;
      padding: .5rem;

      &.Positive {
        background-color: getColor(primary);
      }

      &.Negative {
        background-color: getColor(red);
      }
    }
  }
}