@import '../component-lib/variables.scss';

.Toggle {
  display: none;

  @media (max-width: 43rem) {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    flex-basis: 20%;
  }
}

.MainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: getColor(white, light);
  box-shadow: 1.2rem 1rem 5rem -.1rem getColor(secondary, shade-4);

  @media (max-width: 43rem) {
    flex-wrap: wrap;
  }

  .LogoSection {
    flex: 1;
    margin-right: 1rem;
    border-right: 1px solid getColor(secondary, tint-7);
    text-align: center;

    @media (max-width: 43rem) {
      flex: 0;
      flex-shrink: 2;
    }


    .Logo {
      padding: 1rem;

      img {
        max-width: 6rem;
        max-height: 6rem;
        display: inline-block;
      }
    }
  }

  .LinkList {
    display: flex;
    flex: 10;



    .LinkListItem {
      list-style-type: none;
      text-transform: uppercase;


      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    @media (max-width: 43rem) {
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      flex-basis: 100%;
      padding: 1rem 0;


      &.IsShow {
        transition: all 500ms;
        height: 100%;
      }

      &.IsNotShow {
        height: 0;
        overflow: hidden;
        padding: 0;
      }

      .LinkListItem {
        margin: 0;
        padding: 0;
        margin-right: 1rem;
        text-align: right;

        &:not(:last-child) {
          margin-right: 1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

}

.ProfileSection {
  flex: 2;

  @media (max-width: 43rem) {
    display: none;
  }
}