@import "../variables.scss";

.Button {
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  flex: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 43rem) {
    font-size: 1.5rem;
  }

  &.Square {
    border-radius: 0;
  }

  &:not(.Square) {
    border-radius: 2rem;
  }

  .IconChildrenMargin {
    margin-left: 1rem;
  }

  &.Primary {
    background-color: getColor(primary, shade-3);
    color: getColor(white);
    border: 1px solid getColor(primary, tint-9);

    &:hover {
      background-color: getColor(primary, shade-4);
      color: getColor(primary, tint-9);
      border: 1px solid getColor(primary, tint-9);
    }
  }

  &.Secondary {
    background-color: getColor(secondary, shade-3);
    color: getColor(white);
    border: 1px solid getColor(secondary, tint-9);

    &:hover {
      background-color: getColor(secondary, shade-4);
      color: getColor(secondary, tint-9);
      border: 1px solid getColor(secondary, tint-9);
    }
  }

  &.Tertiary {
    background-color: getColor(tertiary, tint-4);
    color: getColor(white);
    border: 1px solid getColor(tertiary, tint-9);

    &:hover {
      background-color: getColor(tertiary, tint-3);
      color: getColor(tertiary, tint-9);
      border: 1px solid getColor(tertiary, tint-9);
    }
  }

  &.Gold {
    background-color: getColor(gold, tint-3);
    color: getColor(black);
    border: 1px solid getColor(gold, shade-9);

    &:hover {
      background-color: getColor(gold, tint-4);
      color: getColor(tertiary, shade-9);
      border: 1px solid getColor(gold, shade-9);
    }
  }

  &.Red {
    background-color: getColor(red, tint-3);
    color: getColor(black);
    border: 1px solid getColor(red, tint-4);

    &:hover {
      background-color: getColor(red, tint-4);
      color: getColor(tertiary, shade-9);
      border: 1px solid getColor(red, tint-4);
    }
  }

  &.Icon {
    background-color: transparent;
    color: getColor(black);
    border: none;

    &:hover {
      color: getColor(tertiary, shade-9);
    }

  }
}