@import './component-lib/variables.scss';
@import './component-lib/fonts.scss';


html {
  font-size: 10px;
  font-family: Raleway;
  color: getColor(black);
  background-color: getColor(secondary);
  background: linear-gradient(90deg, getColor(secondary, tint-6) 15%, getColor(secondary, tint-7) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
}

div,
p,
a {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: .1rem;
}