@import './component-lib/variables.scss';
@import './component-lib/fonts.scss';

.App {
  background-color: getColor(white);
}

html {
  font-size: 10px;
  font-family: Raleway;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
}

div,
p,
a {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}